@import 'https://fonts.googleapis.com/css?family=Titillium+Web:200,600,700';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700';

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Titillium Web', sans-serif;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
}

h3 {
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  line-height: 1.4;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: 800;
}


body {
  display: flex;
  flex-direction: column;
}

#main-menu {
  font-family: 'Titillium Web', sans-serif;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  transition: 1s background-color;
  /*background-color: rgba(0, 0, 0, 0.74);*/
}

#main-menu li {
  display: inline-block;
  list-style-type: none;
  margin-right: 10px;
  margin-left: 4px;
  transition: 0.5s height;
}

#main-menu li a {
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

#main-menu li img {
  display: inline;
  list-style-type: none;
  height: 40px;
  position: relative;
  top: 12px;
  margin-right: 5px;
}

#main-header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: flex;
  background: #f5f5f5 url('../images/bg1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-content-wrapper {
  margin: auto;
  width: auto;
  text-align: center;
}

i {
  font-style: italic;
}

.header-button-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo {
  height: 150px;
  display: block;
  margin: 5px auto;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}


